<nav class="navbar navbar-expand-lg navbar-light bg-light">

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="brand-wrapper">
    <a class="navbar-brand" href="#">GO4IT</a>
    <img class="center" src="assets/img/icon.svg">
  </div>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto nav-fill w-100">
      <li class="nav-item active">
        <a class="nav-link" routerLink="home">POČETNA <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" routerLink="mapa" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          PUTOVANJA
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" routerLink="#">LEPENSKI VIR</a>
          <a class="dropdown-item" routerLink="#">RAJKOVA PECINA</a>
          <a class="dropdown-item" routerLink="#">VALJA PRERAST</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" routerLink="#">LETO 2019.</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          GALERIJA
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" routerLink="#">EVROPA</a>
          <a class="dropdown-item" routerLink="#">AZIJA</a>
          <a class="dropdown-item" routerLink="#">AFRIKA</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="addplace">ADD PLACE</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="listplaces">LIST PLACES</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="#"><span class="sr-only"></span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="#"><span class="sr-only"></span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="#"><span class="sr-only"></span></a>
      </li>
    </ul>

  </div>
</nav>