@import '../variable';

a{
    font-weight: 600;
    color: $second_color;
}
a:hover{
    color: $third_color; 
}
.brand-wrapper {
    color: $second_color;
    background-color: $primary_color;
    display: flex;
    /* establish flex container */
    align-items: center;
    /* center ul container vertically */
    justify-content: center;
}

.navbar {
    z-index: 500;
    width: 100%;
    background-color: $primary_color;
    position: fixed;
    
    padding: 0;
}

.navbar-brand {
    font-size: 30px;
    margin-right: 0px;
    padding: 15px 5px 15px 15px;
}


.navbar-toggler {
    margin-left: 1rem;
}

.brand-wrapper img {
    width: 50px;
    height: 50px;
    margin-right: 15px;
}