@import '../variable';
agm-map{
    height: 81vh;
    width: 100%;
    z-index: 1;
}



h3, p{
    margin-top: 8px;
    margin-bottom: 0px;
}
.marker-picture{
    height: 200px;
    width: 100%;
    overflow:hidden;
}
img{
    display: block;
    height: 100%;
}
