<div style="overflow-x:auto;" >
  <table class="table w-auto">
    <thead >
      <tr>
        <th>Name</th>
        <th>Location</th>
        <th >Latitude</th>
        <th>Longitude</th>
        <th>Url</th>
        <th>Link</th>
        <th>Options</th>
      </tr>
    </thead>
    <tbody>
      <tr  *ngFor="let place of Place">
        <td >{{place.name}}</td>
        <td >{{place.location}}</td>
        <td >{{place.latitude}}</td>
        <td >{{place.longitude}}</td>
        <td >{{place.url}}</td>
        <td >{{place.link}}</td>
        <td>
        <button class="btn btn-success edit" [routerLink]="['/updateplace/',place.id]">Edit</button>
        <button class="btn btn-danger delete" (click)="deletePlace(place.id)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>