<div class="container">
  <h1>Hero Form</h1>
  <form>
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name" required>
    </div>
    <div class="form-group">
      <label for="location">Location</label>
      <input type="text" class="form-control" id="location" required>
    </div>

    <div class="form-group">
      <label for="description">Description</label>
      <input type="text" class="form-control" id="description">
    </div>
    <div class="form-group">
      <label for="latitude">Latitude</label>
      <input type="text" class="form-control" id="latitude">
    </div>
    <div class="form-group">
      <label for="longitude">Longitude</label>
      <input type="text" class="form-control" id="longitude">
    </div>
    
    <div class="form-group">
      <label for="url">URL</label>
      <input type="text" class="form-control" id="url">
    </div>

    <div class="form-group">
      <label for="link">Google maps link</label>
      <input type="text" class="form-control" id="link">
    </div>

    <button type="submit" class="btn btn-success">Submit</button>

  </form>
</div>

