@import "../variable.scss";
h1 {
    padding: 20px;
    text-align: center;
    border-bottom: 1px solid #eee;
}

#buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
}

.button {
    padding: 20px;
    color: white;
    font-size: 30px;
    border-radius: 10px;
    background: black;
    border: 1px solid black;
    text-decoration: none;
    margin: 20px;
}

.button:hover {
    background: white;
    color: black;
}
.h3-responsive, p{
    border: 2px;
    text-shadow: black 0.1em 0.1em 0.2em
}
.toom{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0px 0px 0px;
    background-color: $fourth_color;
    color: $second_color;
}
h2{
    font-size: 20px;
}