<!--Carousel Wrapper-->
<div class="toom">
<h2>Turisticka organizacija Majdanpek</h2>
</div>
<div id="carousel-example-2" class="carousel slide carousel-fade z-depth-1-half" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-2" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-2" data-slide-to="1"></li>
    <li data-target="#carousel-example-2" data-slide-to="2"></li>
  </ol>
  <!--/.Indicators-->
  <!--Slides-->
  <div class="carousel-inner" role="listbox">
    <div class="carousel-item active">
      <div class="view">
        <img class="d-block w-100" src="../../assets/img/Nacionalni-park-Djerdap/djerdap.png" alt="Nacionalni park Đerdap">
        <div class="mask rgba-black-light"></div>
      </div>
      <div class="carousel-caption">
        <h3 class="h3-responsive">Nacionalni park Đerdap</h3>
        <p>nalazi se na desnoj obali Dunava i prostire od Golubačke tvrđave do antičkog utvrđenja Diana u dužini od
          100km. Površina nacionalnog parka je 636 km2što ga čini najvećim nacionalnim parkom u Srbiji, a po prirodnoj i
          kulturnoj baštini značajan je u evropskim razmerama.</p>
      </div>
    </div>
    <div class="carousel-item">
      <!--Mask color-->
      <div class="view">
        <img class="d-block w-100" src="../../assets/img/Lepenski-vir/lepenskivir" alt="Aheološko nalazište Lepenski vir">
        <div class="mask rgba-black-light"></div>
      </div>
      <div class="carousel-caption">
        <h3 class="h3-responsive">Aheološko nalazište Lepenski vir</h3>
        <p>je otkriveno 1965. godine, na samoj obali Dunava, i udaljeno je 15 km od Donjeg Milanovca. To je bilo jedno
          od najznačajnijih otkrića ove vrste na teritoriji Srbije. Kultura Lepenskog Vira je stara oko 8000 godina i
          predstavljala je potpunu nepoznanicu za arheologe, a nazvana je po lokaciji na kojoj je otkrivena.</p>
      </div>
    </div>
    <div class="carousel-item">
      <!--Mask color-->
      <div class="view">
        <img class="d-block w-100" src="../../assets/img/Crkva-Svetih-Apostola-Petra-I-Pavla/crkva" alt="Crkva Svetih apostola Petra i Pavla">
        <div class="mask rgba-black-light"></div>
      </div>
      <div class="carousel-caption">
        <h3 class="h3-responsive">Crkva Svetih apostola Petra i Pavla</h3>
        <p>zgrađena je u periodu od 1856-1858. godine od strane srpske Vlade koja je dovela stručnjake i radnike iz
          inostranstva, za rad u obnovljenom rudniku. Stvarajući uslove da ih veže za srpsko tle i pravoslavlje 1856.
          godine istovremeno je započela gradnja crkve, škole, stambenih objekata i rudarskih postrojenja.</p>
      </div>
    </div>
  </div>
  <!--/.Slides-->
  <!--Controls-->
  <a class="carousel-control-prev" href="#carousel-example-2" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carousel-example-2" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
  <!--/.Controls-->
</div>
<!--/.Carousel Wrapper-->
<app-footer></app-footer>